body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header, 
.footer {
    display: flex;
    background-color: #1f2937;
    align-content: center;  
    justify-content: center;
}

.footer {
    color: white;
    padding: 30px;
}
.header {
    gap: 100px;
    padding: 20px 150px 150px 150px;
    flex-direction: column;
}

.upper,
.lower {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.upper .left {
    display: flex;
}

.lower .left {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    gap: 10px;
}

.normal {
    font-size: 18px;
    color: #e5e7eb;
}

.bold {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.bolder {
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;
} 

button {
    background-color: #3882f6;
    font-size: 20px;
    padding: 10px 30px;
    border-radius: 12px;
    border: 5px;
}

ul {
    display: flex;
    list-style: none;
    padding: 0;
    border: 0;
    gap: 20px;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 50px 100px 100px 50px;
}

.nodes {
    display: flex;
    gap: 60px;
}

.node { 
    display: flex;
    flex-direction: column;
    width: 150px;
    gap: 10px;

}

.node img {
    object-fit: cover;
    height: 150px;
    width: 150px;
    border-radius: 18px;
}

.node .normal {
    color: #1f2937;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    padding: 50px 100px 50px 100px;
    gap: 10px;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    width: 630px;
}

.quote-guy {
    display: flex;
    font-weight: 200;
    font-size: 20px;
    width: 600px;
    justify-content: flex-end;
    
}

.action {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 100px 50px 100px;
}

.smaller-action {
    display: flex;
    background-color: #3882f6;
    padding: 25px 200px 25px 200px;
    gap: 20px;
}

.action button {
    border: 1px solid white;
    color: white;
}

.action .text {
    display: flex;
    flex-direction: column;
}