body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header, 
.footer {
    display: flex;
    background-color: #1f2937;
    align-content: center;  
    justify-content: center;
}

.footer {
    color: white;
    padding: 30px;
}
.header {
    gap: 100px;
    padding: 20px 150px 150px 150px;
    flex-direction: column;
}

.upper,
.lower {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.upper .left {
    display: flex;
}

.lower .left {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    gap: 10px;
}

.normal {
    font-size: 18px;
    color: #e5e7eb;
}

.bold {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.bolder {
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;
} 

button {
    background-color: #3882f6;
    font-size: 20px;
    padding: 10px 30px;
    border-radius: 12px;
    border: 5px;
}

ul {
    display: flex;
    list-style: none;
    padding: 0;
    border: 0;
    gap: 20px;
}

